*{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 100;
}
body{
	background-color: #001;
}
.flex-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgb(44, 38, 38);
	margin:auto;
	max-width: 1000px;
	min-width:600px;
}
.form{
	min-width:400px;
	flex:1;
	text-align:center;
	padding: 30px;
}
.form-input{
	width: 100%;
	padding:6px;
	margin:6px 0px;
	border: none;
	border-bottom: 4px solid #1c7;
	background-color:transparent;
	color: #fff;
	font-size:1.1rem;
	font-weight: 1.1rem;
}
.form-input:focus{
	background-color: rgb(49, 48, 48);
	outline: none;
	border-bottom: 9px solid #5d9;
}
.form-img{
	flex: 1;
	padding:1px;
	display: flex;
	min-width:200px;
	max-width:380px;
}
.form-img div{
	padding:20px;
}
.img-container{
	margin: auto;
}
.img-container div{
	background-color:#094;
	border-radius:15%;
	text-align: center;
	padding:30px;
}
.form-img img{
	width:100%;
}
.form-input[type="submit"]{
	background-color:#094;
	border-bottom:none;
	padding:15px;
}
.form-input[type="submit"]:hover{
	background-color:#062;
	border-bottom:none;
	padding:15px;
}